In [4]:
print("hello~")

hello~

In [6]:
a = 0o177

In [7]:
a

127

In [12]:
b = 0xabc
print(b)

2748

In [1]:
a = "hi"

In [2]:
a.capitalize()

'Hi'

In [3]:
a.upper()

'HI'

In [4]:
a.lower()

'hi'

In [5]:
b='                      hi                     '

In [6]:
b.lstrip()

'hi                     '

In [7]:
b.rstrip()

'                      hi'

In [8]:
b.strip()

'hi'

In [10]:
a="Life is too short"
a=a.replace("Life", "your leg")

In [16]:
a=[1,4,3,2]

In [18]:
 a.sort(reverse=True)
a

[4, 3, 2, 1]

In [20]:
a.append(5)

In [21]:
a

[4, 3, 2, 1, 5]

In [22]:
b=['b','c','y','a']

In [23]:
b.index('c')

1

In [24]:
b.inex('t')

AttributeError: 'list' object has no attribute 'inex'

In [25]:
a.remove(4)

In [26]:
a

[3, 2, 1, 5]

In [27]:
a.pop(3)

5

In [28]:
a

[3, 2, 1]

In [29]:
len(a)

3

In [31]:
a.count(2)

1

In [32]:
t1=()
type(t1)

tuple

In [33]:
t2=(1,)

In [34]:
type(t2)

tuple

In [35]:
t4 = 1,2,3

In [36]:
type(t4)

tuple

In [42]:
t5=(1,2,3,4,(1,2,3,4))

In [43]:
type(t5)

tuple

In [45]:
s1 = set([1,2,3,3])
s1

{1, 2, 3}

In [46]:
l1 = [1,2,3,4,5,6,7]

In [47]:
l2= [4,5,6,7,8,9]

In [50]:
a=[1,2,3]

In [51]:
while a:
    a.pop()

In [52]:
a

[]

In [53]:
if a:
    print("참")
else:
    print("거짓")

거짓

In [54]:
a=[1,2,3]

In [55]:
b = a

In [56]:
id(a)

1377161876488

In [57]:
id(b)

1377161876488

In [58]:
a is b

True

In [59]:
a[1] = 4

In [60]:
a

[1, 4, 3]

In [61]:
b

[1, 4, 3]